body {
    height: 100vh;
    margin: auto;
    text-align: center;
    background-color: #355e78;
    background-size: cover;
}
#whole_container {
    position: relative;
    height: 100%;
    width: 100%;
}

header {
    font-size: 24px;
    height: 20%;
    padding: 10px;
}

h1 {
    font-family: 'Righteous', Helvetica, sans-serif;
    color: lightsteelblue;
    /*border: 1px solid blue;*/
    /*background-color: orange;*/
    width: 35%;
    margin: auto;
    /*border-radius: 100px;*/
    padding: 20px;
    box-sizing: border-box;

}

p {
    color: darkblue;
    font-family: 'Righteous', Helvetica, sans-serif;
}

main {
    width: 70%;
    margin: auto;
    /* margin-top: 0px; */
    padding: 20px;
    height: 20%;
    opacity: 0.7;
}

.genre {
    margin-top: 20px;
    padding: 6px;
    width: 10%;
    height: 30%;
    display: inline-block;
    background: greenyellow;
    border-radius: 50%;
}

section {
    height: 60%;

}

#display {
    margin: auto;
    height: 100%;
    width: 50%;
    /*background: orange;*/
}

img {
    height: 60%;
}
