body {
    height: 100vh;
    margin: auto;
    text-align: center;
    background-color: #355e78;
}
#whole_container {
    position: relative;
    height: 100%;
    width: 100%;
}

header {
    font-size: 24px;
    height: 20%;
    padding: 10px;
}

h1 {
    font-family: 'Righteous', Helvetica, sans-serif;
    color: lightsteelblue;
    /*border: 1px solid blue;*/
    /*background-color: orange;*/
    width: 35%;
    margin: auto;
    /*border-radius: 100px;*/
    padding: 20px;
    box-sizing: border-box;

}

p {
    color: darkblue;
}

main {
    margin-top: 0px;
    height: 20%;
    opacity: 0.7;
}

.genre {
    /*margin-top: 20px;*/
    /*border: 1px solid blue;*/
    padding-bottom: 16px;
    width: 6%;
    height: 20%;
    display: inline-block;
    background: greenyellow;
    border-radius: 20px;
}

section {
    height: 60%;

}

#display {
    margin: 0;
    height: 100%;
    width: 100%;
    /*background: orange;*/
}

img {
    height: 60%;
}
